h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Segoe UI';
  text-align: center;
}
.sub-title{
    margin-top:0;
    margin-bottom: 32px;
}
.wraper{
    font-family: 'Segoe UI';
    display: flex;
    justify-content: center;
    align-item: center;   
}
input{
    margin-top: 8px;
    padding: 8px;
    width: 100%;
    border: 1px solid #C5CED6;
    border-radius: 2px;
    color: #C5CED6;

}
button{
    font-family: 'Segoe UI';
    font-weight: 500;
    padding: 10px;
    color: #ffff;
    background-color: #6558F5;
    border:none;
    border-radius: 4px;

}